.third-topic {
    display: inline;
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    /* top: 190%; */
    width: 40%;
    right: 0%;
}

.coco-tree {
    float: right;
    padding: 168% 0% 0% 52rem;
    position: absolute;
    margin: 0% 0% 0% 0%;
}

.list {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    
}

.small-cont {
    font-family: "Poppins", serif;
    font-weight: 400;
    color: #666666;
}

.btn-aero {
    display: inline;
    padding: 0% 0% 0% 15%;
    margin: 0% 10%;
    align-items: center;
}

.btn1-2 {
    display: flex;
    position: absolute;
    padding: 0% 0% 40% 30%;
    cursor: pointer;
    margin: 5% 0% 0% 7%;
}

.btn1-22 {
    display: flex;
    position: absolute;
    padding: 15% 0% 0% 60%;
    cursor: pointer;
    margin: 0% 80% 0px;
}

.the-three-area {
    display: flex;
    place-content: center;
  }

.the-only{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
            display: inline-block;
            /* width: 300px; */
            border: 1px;
            padding: 18px;
            margin:auto;
            place-content: center;
            /* height: 90%; */
            background-color: #FEFCFB;
            /* background-color: #FD8D3A; */
       
    }

    .the-three-area2{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
            display: inline-block;
            /* width: 300px; */
            border: 1px;
            padding: 18px;
            margin:auto;
            place-content: center;
            /* height: 90%; */
            background-color: #FEFCFB;
            /* background-color: #FD8D3A; */

    }

    .the-three-area3{
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
        display: inline-block;
        /* width: 300px; */
        border: 1px;
        padding: 18px;
        margin: 300px 10px;
        /* height: 90%; */
        background-color: #FEFCFB;
        /* background-color: #FD8D3A; */

    }

    .the-change1{
        display: flex;
        justify-content: space-between;
        margin: 0% 0% 0% 0%;
        padding: 0% 0% 0% 0%;
    }

    .rome{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
        color: #222222;
        font-weight: 0%;
        font-size:larger;
    }

    .dollar-val{
        color: #FA7436;
        font-size: 22px;
        font-weight: 800;
    }

    .day-trip{
        /* display: flex; */
        color: #666666;
        font-size:large;
    }

    .the-single-star{
        display: flex;
        color: #666666;
        font-size:large;
    }

    .ita{
        max-width: 90%;
  height: auto;
    }

    .lon{
        max-width: 90%;
        height: auto;
    }

    .japa{
        max-width: 90%;
        height: auto;
    }

