.mike-page {
    display: flex;
    width: 72% ;
    place-items: center;
    margin: 0% 0%;
    
}

.mike-sub {
    float: left;
    margin: 0rem 0rem 0rem 0rem;
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
}

.mike-sub2 {

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: -11rem 2rem -6rem 5rem;
    /* width: 300%; */
    margin: 5% 0% 0% 0%;
    font-style: normal;
    font-size: 1.0rem;
    color: #666666;
}

.what-people{
    width: 0rem 0rem 0rem 30rem;
}

.btn-aero1 {
    display: inline;
    padding: 0% 0% 0% 5%;
    margin: 0% 0%;
    align-items: center;
}

.btn1-23 {
    padding: 5% 0% 0% 5%;
    margin: 0% -10%;
}

.over-all{
    display: absolute;
    margin: 0% 0% 0% 0%;
}

.mike-right {
    /* display: inline; */
    /* float: right; */
    width: 310px;
    left: 0rem 0rem 0rem 0rem;
    height: 170px;
    padding: 1px;
    background-color: #FFFFFF;
    color: #444444;
    box-shadow: 10px 10px 5px 12px #727272;
    font-family: "Poppins", serif;
    /* font-weight: 400; */
    font-size: small;
    padding: 5% 0% 0% 5%;
    margin: 8% 50%;
    /* margin: 0rem 0rem 0rem 0rem; */
}

.venky-img {
    padding: 0% 0% 0% 0%;
    margin: -63% -21%;
}

.mike-style {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.plane3 {
    position: absolute;
    padding: 5% 0% 0% 5%;
    margin: -11rem 0rem 0rem 17rem;
}

