* {
    margin: 0;
    padding: 0% 2% 0% 2%;
    box-sizing: border-box;
}

body {
    height: 600vh;
    margin: 5px;
    padding: 2% 0% .5% 0%;
    box-sizing: border-box;
    background-color: #FEFCFB;
}